.todolistMain .header input {
  padding: 10px;
  font-size: 16px;
  border: 6px solid rgb(183, 175, 190);
  width: 165px;
}

.todolistMain .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066ff;
  color: #fff;
  border: 6px solid #0066ff;
}
.todolistMain .header button:hover {
  background-color: #003399;
  border: 6px solid #003399;
  cursor: pointer;
}
.todolistMain .theTask li {
  color: #333;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
  transition: background-color 0.1s ease-in-out;
}

.todolistMain .theTask li:hover {
  background-color: rgb(151, 224, 167);
  cursor: pointer;
}

ul.theTask {
  padding: 0px;
}
